<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
<h2>Thanks!</h2>

<table border="1">
	
    <tbody>
    <tr>
        <td>OK</td>
    </tr>
    
    </tbody>
</table>

</div>

</body>
</html>
